@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

h1 {
    color: rgb(105, 3, 221);
    border: 2px solid rgb(119, 0, 255);
    border-radius: 8px;
    padding: 1rem 1.7rem;
}

input{
    padding: 0.8rem 1.8rem;
    border: 2px solid rgb(119, 0, 255);
    border-radius: 8px;
    outline: none;
}

button{
    padding: 0.8rem;
    border: 2px solid rgb(18, 141, 255);
    border-radius: 8px;
    outline: none;
    color: rgb(0, 132, 255);
}

button:hover{
    color: white;
    background-color: seagreen;
    cursor: pointer;
}

ul{
    border: 2px solid rgb(119, 0, 255);
    margin: 1rem;
    border-radius: 8px;
    background-color: #eee;
    padding: 1rem 9rem;
}

article, p{
    margin: 0.8rem;
    color: #222;
    text-align: center;
}

@media screen and (min-width: 400px) {
    article {
        max-width: 300px;
    }
}